$primary: #cc0000;
$secondary: #ac0200;
$dark: #333333;
$white: #ffffff;
$light: #faf9f7;
$vr-border-width: 1.47px;

@import '~bootstrap/scss/bootstrap';
@import '../fonts.css';

body {
  zoom: 125%;
  background-color: var(--bs-light);
}

* {
  font-family: 'Manrope', sans-serif;
}
